[package]
name = "wiredify"
description = "バ行のカタカナを「ヴァ」～「ヴォ」に変換する"
version = "0.1.1"
edition = "2021"
license = "MIT"
license-file = "LICENSE"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
